body{
    background-color: aqua;
    top:0;
    margin:0;
    height: 100%;
    width: 100%;
}

header{
    top:0;
    margin:0;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #333;
    align-items: center;
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    margin: 0 100px 0 100px;
    display: block;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #111;
}